<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>View Page Hiling</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="display: block;
          margin-left: auto;margin-right: auto;
          width: 50%;height: 50%">
        <h2>VIEW PAGE</h2>
        <hr/>
    Nama :<l th:text="${paket1}"></l>
    <br/><br/></br>
    Lokasi :<l th:text="${paket2}"></l>
    <br/><br/></br>
    Image :<br/><img th:src="${paket3}" style="width: 650px;height: 300px">

</body>
</html>
